{% load static %}
<nav>
    <div>
        <a href="{% url 'home' %}"><img src="{% static 'img/motor.svg' %}" alt="Logo Pur Beurre" title="Logo OpenRider" width="70" height="70"></a>
        <a href="{% url 'home' %}">OpenRider</a>
    </div>
        
    <div class="pb-5">
        {% if user.is_superuser %}
        <a class="nav-item" href="{% url 'accomodation:validation_waiting' %}">Admin</a>
        {% endif %}
        {% if user.is_authenticated %}
        <span>Hi {{ request.user }}</span><br>
        <a class="nav-item" href="{% url 'users:profile' %}">Profile</a>
        <a class="nav-item" href="{% url 'users:fav' %}">Favoris</a>
        <a class="nav-item" href="{% url 'accomodation:add' %}">Add accomodation</a>
        <a class="nav-item" href="{% url 'users:logout' %}">Se déconnecter</a>
        {% else %}
        <a class="nav-item" href="{% url 'users:register' %}">Créer un compte</a>
        <a class="nav-item" href="{% url 'users:login' %}">Se connecter</a>
        {% endif %}
    </div>
</nav>