{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="result_intro">Fiche détaillée concernant le logement : {{ accomodation.name }}</div>

<div class="row">
    <ul>
        <li>{{ accomodation.name }}</li>
        <li>{{ accomodation.category }}</li>
        <li>{{ accomodation.park }}</li>
        {% if accomodation.number %}
            <li>{{ accomodation.number }} {{ accomodation.road }}, {{ accomodation.zipcode }}, {{ accomodation.city }}</li>
        {% else %}
            <li>{{ accomodation.road }}, {{ accomodation.zipcode }}, {{ accomodation.city }}</li>
        {% endif %}
        <li>{{ accomodation.phone }}</li>
        {% if accomodation.url %}
            <li>{{ accomodation.url }}</li>
        {% endif %}
        <li>{{ accomodation.lat }}</li>
        <li>{{ accomodation.lon }}</li>
    <form action="{% url 'users:save' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="elt_id" id="elt_id" value="{{ accomodation.auto_increment_id }}"">
        <input  type="submit" class="btn btn-primary" value="Sauvegarder">
    </form>
    </ul>
</div>
<hr>
<div>
    {{ total_likes }} Like{{ total_likes|pluralize }}
    <form action="{% url 'accomodation:like' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="elt_id" id="elt_id" value="{{ accomodation.auto_increment_id }}"">
        {% if is_liked %}
            <input type="image" src="https://img.icons8.com/color/48/000000/dislike.png" value="Dislike">
        {% else %}
            <input type="image" src="https://img.icons8.com/color/48/000000/filled-like.png" value="Like">
        {% endif %}
    </form>
</div>
<div>
    <form class="comment_form" method="POST">
        {% csrf_token %}
        {{ comment_form|crispy}}
        <div class="g-recaptcha" data-sitekey="6Ld7DMMZAAAAALn1dm7ne2ZCh382rwrhVaomiMq_"></div>
        <input type="submit" value="Poster un commentaire" class="btn btn-outline-success">
    </form>
</div>
<div class="comment-section">
    {{ comments.count }} commentaire{{ comments|pluralize }}<br>
    {% for comment in comments %}
    <blockquote class="blockquote">
        <p class="mb-0">{{ comment.text }}</p>
        <footer class="blockquote-footer">by <cite title="Source Title">{{ comment.user }} - {{ comment.timestamp }}</cite></footer>
    </blockquote>
    {% endfor %}
</div>

{% endblock content %}