{% extends "base.html" %}

{% block content %}

<div class="result_intro">Voici le resultat de la recherche pour la ville de {{ research }}:</div>

<div class="container">

    <div class="list">
    {% for elt in final_result %}
        <div class="result_elt">
            <img src="https://via.placeholder.com/300x150" alt="#">
            <div class="name">{{ elt.name }}</div>
            <div>{{ elt.category }}</div>
            <div>{{ elt.park }}</div>
            <div>{{ elt.number }} {{ elt.road }}, {{ elt.zipcode }}, {{ elt.city }}</div>
            <div>{{ elt.phone }}</div>
            <div class="lat">{{ elt.lat }}</div>
            <div class="lon">{{ elt.lon }}</div>
        </div>
    {% endfor %}
    </div>
    <div class="map" id="mapid"></div>   

</div>
<script type="text/javascript" src="/static/js/leafletmap.js"></script>
{% endblock content %}